.slider-wrapper {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;

}

.slide.active {
  opacity: 1;
  z-index: 1;
  display: block;

}

.slide-bg {
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  width: 70%;
  }

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 2;
}

.nav-arrow:hover{
  
  background: #014164;
}

.nav-arrow.left {
  left: 10px;
}

.nav-arrow.right {
  right: 10px;
}

.dot-indicators {
  position: sticky;
  bottom:  40px;
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #ffcc00;
}

.container-load{

  justify-content:center; /* Distributes space between items, pushing one left and one right */
  /* Aligns items vertically in the center (optional) */
  width: 100%; /* Ensure the container spans the full width */
  align-items: center;
  height: 32vh;
}