@import 'swiper/swiper-bundle.css';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.slide-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  
}

.slide-content {
  background: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 8px;
}

.btn {
  padding: 10px 20px;
  font-weight: bold;
}
/* Style both navigation buttons
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  background-color: rgba(219, 5, 5, 0.5); 
  border-radius: 50%;                
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: #ff9800;  
  opacity: 2;
}

.swiper-pagination-bullet-active {
  background: #2196f3;   
} */
.slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}
.slide-active {
  opacity: 1;
  display: block;
}

.swc_slide .swiper-button-prev {
  display:none;
}